{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<title> Liste des taches</title>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="col">
    <div class="card border-dark" >
        <h3 class="card-header"> Project Tasks</h3>

    </div>
</div>      
<button id="create-tache" class="btn btn-primary" type="button" name="button"> Create New Task</button> 
 
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Status</th>
  </tr>
<tbody>
  {% for tache in taches %}
<tr>
  <td>{{tache.Name}}</td>
  <td>{{tache.Description}}</td>
  <td>{{tache.StartDate}}</td>
  <td>{{tache.EndDate}}</td>
  <td>{{tache.Status}}</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}