<div class="row mt-5 ml-6" >
    <div class="col">
        <div class="col-md">
            <div class="card bg-success text-center text-white  mb-3" id="projects-in-progress">
                <div class="card-header">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{En_cours}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card bg-primary text-center text-white  mb-3" id="total-projets">
                <div class="card-header">
                    <h5 class="card-title">Total Projects</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_projects}}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md">
            <div class="card bg-danger text-center text-white  mb-3" id="completed-projects">
                <div class="card-header">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{Termine}}</h3>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    