
<title> Liste des taches</title>   
<table id="projects-table" class="table table-sm table-responsive-sm table-hover text-nowrap table-striped table-bordered">
  <thead class="thead-dark">
      <tr style="text-align: center;">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Status</th>
  </tr>
<tbody>
  {% for tache in taches %}
<tr>
  <td>{{tache.Name}}</td>
  <td>{{tache.Description}}</td>
  <td>{{tache.StartDate}}</td>
  <td>{{tache.EndDate}}</td>
  <td>{{tache.Status}}</td>
</tr>

{% endfor %}

</tbody>

</table>

